<%- include("partials/header.ejs") %>


<h1>Compose</h1>

<form action="/compose" method="post">
    <div class="form-group">

        <% if (locals.error) { %>
            <div  id="error-message" class="alert alert-danger" role="alert">
                <%= error %>
            </div>
        <% } %>

        <label for="">Title</label>
        <input type="text" name="postTitle" class="form-control" required>
    </div>

    <div class="form-group">
        <label for="">Post</label>
        <textarea name="postBody" cols="40" rows="5" class="form-control" required></textarea>
    </div>

        <button id="publish-btn" type="submit" name="button" class="btn btn-primary">Publish</button>

        <div id="succes-alert" class="alert alert-success" role="alert">Post successfully published.</div>
</form>


<script>
    // Seleciona a mensagem de erro pelo ID
    const errorMessage = document.getElementById("error-message");

    // Verifica se a mensagem de erro existe e a remove após 5 segundos (5000 ms)
    if (errorMessage) {
        setTimeout(() => {
            errorMessage.style.display = "none";
        }, 5000); // 5000 ms = 5 segundos
    }
</script>


<%- include("partials/footer.ejs") %>
